@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.home-head {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: url(../public/background-image.svg) no-repeat center bottom;
}

.claim-head {
  display: flex;
  min-height: 100vh; /* Equivalent to min-h-screen for most use cases */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 30px;
  background: url(../public/background-image.svg) no-repeat center bottom;
}

.steps-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--color-purple);
    border-radius: 31px;
    flex-grow: 1;
    padding: 1.98vw;
    border-radius: 1.98vw;
    background: #00000099;
    max-width: 100%;
    display: flex;
}


.steps-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.inner-card {
  padding: 18px;
  border-radius: 20px;
  display: flex;
}

.proof-window {
  width: 300px; /* Set the desired width for the parent div */
  border: 1px solid #ccc; /* Optional: Add a border for clarity */
  border: 2px solid var(--color-purple);
  border-radius: 4px;
  overflow-x: auto; /* Add a horizontal scrollbar when necessary */
}

h2 {
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

/* badges */
.badges-context {
  padding-bottom: 20px;
}
.badges-header {
 margin-bottom: 12px;
 flex: content;
 justify-content: center;
}
.badges-toast {

}
.badges-title {
margin-bottom: 4px;
}

.badges-secondary-title {
margin-top: 4px;
}

.badges-claim-content {

}

.badges-id-and-key-container {

}

.badges-id {

}

.badges-id-label {

}

.badges-id-input {

}

.badges-secret-key {

}

.badges-secret-key-label {

}

.badges-secret-key-input {

}

.wallet-address {

}

.badges-claim-buttons {

}

.claim-button {
  background-color: #db2777;
}

.wallet-connect {
  
}